html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.field-validation-error {
  font-size: 16px;
  color: red;
}

.validation-summary-errors {
    font-size: 18px;
    color: red;
}

.account-form-input {
  height: 34px;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: 1px #d0d0d0 solid;
  padding: 0 10px;
  width: 240px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
}

.account-form-input:focus {
  box-shadow: inset 0px 0px 0px 1px #66afe9;
}

.account-form-fieldset {
  border: none;
  min-width: 400px;
}

.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-form-link {
  color: #008bab;
  font-size: 18px;
}

.welcome-tew {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.welcome-tew-title {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  align-self: center;
}

.welcome-tew-link {
  align-self: flex-end;
  margin-right: 30px;
  margin-top: 5px;
}

.account-form-button {
  height: 30px;
  font-size: 16px;
  background: $white;
  color: white;
  outline: none;
  border-radius: 4px;
  font-weight: normal;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
  box-shadow: none;
  background: #449d44;
  border-color: #449d44;
}

.account-form-button:hover {
  background: #306e30;
}

.account-form-button-section {
  display: flex;
  justify-content: center;
}

.account-checkbox {
  margin-bottom: 10px;
}

.editor-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.editor-label {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  font-weight: bold;
}