/*.margin-10 {
    margin: 10px;
}

.center-form{
    text-align: center;
    display:inline-block;
}

.inline-block {
    display:inline-block;
}

.add-word-area {
    margin: 50px;
}

.margin-60 {
    margin: 50px;
}

.margin-30 {
     margin: 30px;
}

.label {
    font-size: 16px;
    font-style: italic;
    color: #737272;
}

.menu-header {
    padding-left: 20px;
    position: fixed;
    height: 100vh;
    color: #ffc56d;

    max-width: 16.3%;
}

.menu-tab {
    display:block;
    padding: 20px;
    color: #ffc56d;
    font-size: 16px;
}

.menu-tab:hover {
    background-color: #ffa500;
}

.menu-tabs {
    text-align: right;
}

.menu-tab-active {
    background-color: #ffc56d;
    color: #737272 !important;
}

.menu-header-links {
    padding-left: 30px;
    padding-bottom: 40px;
}

.add-word-english-word {
    float: left;
    margin-right: 10px;
}

.learning-main-background {
    background-color: #737272;
}

.menu-header-user-name {
    font-size: 16px;
    word-wrap: break-word;
}

.log-out-link {
    color: white;
}

.log-out-link:hover {
    color: #ffe000 !important;
}

.mobile-text {
    font-size: 18px;
}

.mobile-home-button {
    width: 20%;
    height: 20%;
}

.mobile-home-link {
    font-size: 28px;
    color: #ffc56d;
    text-decoration: underline;
}

.header-server-message {
    margin-top: 50px;
    margin-bottom: 30px;
    word-wrap: break-word;
    font-weight: bold;
}

.mobile-body {
    padding-right: 15px;
}

.mobile-username-block {
    padding-bottom: 15px;
    padding-top: 15px;
    display: block;
}

.btn-orange {
    background-color: #ffc56d;
    color: #737272;
}

.learning-body {
    color: #737272;
}

.document-body {
    background-color: rgba(128,128,128,0.05);
}

.mobile-links {
    border-radius: 10px;
    background-color: #737272;
    margin-top: 30px;
}
*/

/*
            COLORS:
    orange - #ffc56d
    gray - #737272
    error - #fd6c01
    hover - #ffa500
*/

/**************************** TEW NEXT ********************************************/

/*** 
        COLORS 
    lists:
background-color: #e0e0e0
active item > background-color: #737272
active item > color: black
error > background-color: #3c763d

    menu:
acitve link > color: #5af35d

***/


.tew-body {
	margin-top: 60px;
}

@media (max-width: 979px) {
    .tew-body {
	    margin-top: 0px;
    }
} 

.responsive-menu {
	margin-left: 5px;
	margin-right: 5px;
}

.responsive-menu-button {
	margin-right: 20px;
}

.navbar-inverse .navbar-nav > li > a {
	font-size: 18px;
	color: #d1cdcd;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  font-size: 20px;
}

.active-menu-item {
	font-size: 20px;
	color: #5af35d !important;
}

.error-field {
    color: red;
    font-size: 14px;
}

.field-label {
    font-size: 16px;
}

.center-block {
    text-align: center;
}

.xs-visible {
    visibility: hidden;
}

.xs-hidden {
    visibility: visible;
}

@media (max-width: 768px) {
    .xs-visible {
	    visibility: visible;
    }

    .xs-hidden {
        visibility: hidden;
    }
}

.list-items {
    background-color: #e0e0e0;
    border-radius: 10px;
    font-size: 24px;

    /* No selection after double click */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -ms-user-select: none; /* IE10+ */
}

.list-item {
    width: 100%;
    border-radius: 10px;
    word-wrap: break-word;
}

.active-list-item {
    background-color: #737272;
    color: black;
}

.cursor-pointer {
    cursor: pointer;
}

.progress-bar {
    border-radius: 5px;
    min-width: 1%;
}

.page-title {
    font-style: italic;
    font-size: 22px;
}

.tests-test-word {
    font-size: 40px;
    font-weight: bold;
}

.tests-test-example {
    font-size: 20px;
}

.list-item-error {
    background-color: #3c763d;
    color: white;
}

.picker-test-message {
    font-size: 26px;
    margin-bottom: 30px;
}

.picker-test-block {
    margin-bottom: 30px;
}

.margin-20 {
    margin: 20px;
}

.field-validation-error {
    font-size: 16px;
    color: red;
}

.validation-summary-errors {
    font-size: 18px;
    color: red;
}

.tew-modal-title {
    font-size: 28px;
    font-weight: bold;
}

.tew-modal-body {
    font-size: 20px;
}

.tew-modal-button {
    min-width: 80px;
}