
@{
    ViewBag.Title = "AddUserWords";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center-block">
    <h1>It's help page...</h1>
    <h2>Added @ViewBag.AddedCount words for user id #@ViewBag.UserId</h2>
</div>

