body {
    padding-top: 50px;
    padding-bottom: 20px;

    font-family: 'Proxima Nova';

    background: url(Images/ballBackground.jpg); 
    background-size: cover;
 	background-attachment: fixed, fixed;

    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.image-resize {
    margin-bottom: 50px;
    margin-top: 50px;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */

    -moz-box-shadow: 0 0 10px #ccc; 
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.center-block {
    text-align: center;
}

.stat-block {
    margin-bottom: 50px;
    margin-top: 50px;
}

.big-size-text{
    font-size: 48px;
}

.title-text {
    color: white;
    font-family: 'Comic Sans MS';
}

.main-text {
    font-size: 28px;
}

.link-text {
    font-style: italic;
    text-decoration: underline;
}

.header-with-image{
    background-color: #686868;
}

.icons{
    width: 150px;
    height: 150px;
	margin-top: 50px;
}

.download-icon{
    width: 300px;
	margin-top: 50px;
}
