<div class="center-block">
    <h3>Add word</h3>

    <span class="label">English word:</span>
    <br />
    <input class="form-control inline-block" type="text" (keyup.enter)="translate()" [(ngModel)]="englishWord" />
    <button class="btn btn-info" (click)="translate()">Translate</button>

    <div class="row add-word-area">
        <div class="col-md-6">
            <span class="label">Your translate:</span>
            <br />
            <input class="form-control inline-block" type="text" [(ngModel)]="chosenTranslate" (keyup.enter)="save()" />

            <br />
            <div class="margin-50" [hidden]="translates.length < 1">
                <span class="label">Translates:</span>

                <div class="list-items" >
                    <div *ngFor="let translate of translates;">
                        <div class="list-item cursor-pointer" 
                                [class.choosen-list-item]="translate == chosenTranslate" 
                                (click)="chooseTranslate(translate)">
                            {{translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <span class="label">Example of use:</span>
            <br/>
            <textarea class="form-control inline-block" [(ngModel)]="exampleOfUser"></textarea>
            <br/>
            <button class="btn btn-success margin-30" (click)="save()">Add word</button>
        </div>
    </div>
</div>