<div class="row">
    <div *ngIf="userName" class="col-md-2">

        <!-- desctop -->
        <div class="visible-desktop">
            <div class="learning-main-background menu-header">
                <div class="menu-header-user-name">
                    <span class="glyphicon glyphicon-user"></span>
                    {{userName}}
                    <div>
                        <span><a class="log-out-link" href="/account/SignOff">Log out</a></span>
                    </div>
                </div>
                <div class="header-server-message" (click)="showDesktopMode()">
                    {{applicationMessage}}
                </div>
                <div class="menu-tabs">
                    <div>
                        <a class="menu-tab" routerLink="/home" routerLinkActive="menu-tab-active">Home</a>
                    </div>
                    <div>
                        <a class="menu-tab" routerLink="/add-word" routerLinkActive="menu-tab-active">Add word</a>
                    </div>
                    <div>
                        <a class="menu-tab" routerLink="/my-words" routerLinkActive="menu-tab-active">My words</a>
                    </div>
                    <div>
                        <a class="menu-tab" routerLink="/picker-test" routerLinkActive="menu-tab-active">Picker test</a>
                    </div>
                </div>
            </div>
         </div>

        <!-- mobile -->
        <div class="visible-phone visible-tablet center-block">
            <a class="btn btn-info mobile-home-button" routerLink="/home">
                <span class="glyphicon glyphicon-home"></span>
            </a>
            <span class="mobile-text">
                <span>
                    <span class="glyphicon glyphicon-user"></span>
                    {{userName}}
                </span>
                <br />
                <span><a (click)="logOff()">Log out</a></span>
            </span>
        </div>
    </div>

    <div [hidden]="!userName" class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="!userName" class="row">
    <loading-animation></loading-animation>
</div>
