<!-- desctop -->
<div class="visible-desktop">
    <div class="menu-header">
        <div class="row menu-header-links">
            <a href="void:alert('feature is cooming soon')">New feature</a>
        </div>

        <div class="center-block row">
            <a class="menu-tab" routerLink="/home" routerLinkActive="menu-tab-active">Home</a>
            <a class="menu-tab" routerLink="/add-word" routerLinkActive="menu-tab-active">Add word</a>
            <a class="menu-tab" routerLink="/my-words" routerLinkActive="menu-tab-active">My words</a>
            <a class="menu-tab" routerLink="/picker-test" routerLinkActive="menu-tab-active">Picker test</a>
        </div>
    </div>
</div>

<!-- mobile -->
<div class="visible-phone visible-tablet">
    <a class="btn" routerLink="/home">Home</a>
</div>

<div id="route-container" class="body-margin-30">
    <router-outlet></router-outlet>
</div>
