<div class="visible-desktop">
    <h1> Home </h1>
</div>

<!-- mobile -->
<div class="visible-phone visible-tablet center-block">
    <div>
        <span class="mobile-text mobile-username-block" [hidden]="!userName">
            <span>
                <span class="glyphicon glyphicon-user"></span>
                {{userName}}
            </span>
            <br />
            <span><a (click)="logOff()">Log out</a></span>
        </span>
    </div>
    <div class="learning-main-background">
        <a class="mobile-home-link" routerLink="/add-word">Add word</a>
        <br/>

        <a class="mobile-home-link" routerLink="/my-words">My words</a>
        <br/>

        <a class="mobile-home-link" routerLink="/picker-test">Picker test</a>
        <br/>
    </div>
</div>
