<div class="center-block page-title">
    My words
    <span *ngIf="wordsCount > 0"> ({{wordsCount}})</span>
</div>

<div>    
    <div [hidden]="loaded">LOADING...</div>

    <!-- desctop -->
    <div class="visible-desktop">
        <table class="table table-hover" [hidden]="!loaded">
            <thead>
                <tr>
                    <th></th>
                    <th>English</th>
                    <th>Russian</th>
                    <th>Level</th>
                    <th>Answer count</th>
                    <th>Fail count</th>
                    <th>Example</th>
                </tr>
            </thead>
            <tbody *ngFor="let word of userWords.Words;">
                <tr [hidden]="word.Hidden">
                    <td>
                        <img class="cursor-pointer" (click)="removeWord(word)" src="/Scripts/AngularJS/app/images/delete.png" style="height: 30px" />
                    </td>
                    <td>{{word.English}}</td>
                    <td>{{word.Russian}}</td>
                    <td>{{word.Level}}</td>
                    <td>{{word.AnswerCount}}</td>
                    <td>{{word.FailAnswerCount}}</td>
                    <td>{{word.Example}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- mobile -->
    <div class="visible-phone visible-tablet">
        <table class="table table-hover" [hidden]="!loaded">
            <thead>
                <tr>
                    <th></th>
                    <th>English</th>
                    <th>Russian</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody *ngFor="let word of userWords.Words;">
                <tr [hidden]="word.Hidden">
                    <td>
                        <img class="cursor-pointer" (click)="removeWord(word)" src="/Scripts/AngularJS/app/images/delete.png" style="height: 30px" />
                    </td>
                    <td>{{word.English}}</td>
                    <td>{{word.Russian}}</td>
                    <td>{{word.Level}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>