<div class="center-block">
    <div class="page-title">Picker test</div>

    <!-- buttons -->
    <div>
        <button [disabled]="!currentTest.Word && !firstTestNOTloaded" (click)="prepareTest('EnRuTest')" class="btn btn-orange">
            Eng-Rus
        </button>
        <button [disabled]="!currentTest.Word && !firstTestNOTloaded" (click)="prepareTest('RuEnTest')" class="btn btn-orange">
            Rus-Eng
        </button>
    </div>
    
    <div class="row">
        <div class="col-md-7">
            <!-- test area -->
            <div [hidden]="!currentTest.Word">
                <div class="tests-test-word">{{currentTest.Word}}</div>
                <div class="tests-test-example">{{currentTest.Example}}</div>
                <br />

                <div class="margin-30">
                    <div *ngFor="let answer of currentTest.Answers;" class="list-items">
                        <div (click)="setAnswer(answer)"
                             (dblclick)="pickAnswer(answer)"
                             [class.choosen-list-item]="answer == choosenAnswer"
                             [class.list-item-error]="trueAnswer == answer"
                             class="list-item cursor-pointer">
                            {{answer}}
                        </div>
                    </div>
                </div>
                <br />

                <!-- disabled when set true answer (picked)-->
                <button [disabled]="trueAnswer" (click)="pickAnswer(choosenAnswer)" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button [disabled]="trueAnswer || currentTest.Answers.length < 4" class="btn btn-orange" (click)="helpPick()">
                    help
                </button>
                <button  [disabled]="trueAnswer" (click)="deleteWord(currentTest)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>

        <!-- result -->
        <div class="col-md-5">
            <div [hidden]="!resultMessage">
                <h3>{{resultMessage}}</h3>
                <button class="btn btn-orange" (click)="setNextTest()">Next</button>
            </div>
        </div>
    </div>

</div>