<div class="center-block">
    <div class="page-title">Picker test</div>

    <!-- buttons -->
    <div>
        <button (click)="prepareTest('EnRuTest')" class="btn">Eng-Rus</button>
        <button (click)="prepareTest('RuEnTest')" class="btn">Rus-Eng</button>
    </div>
    
    <div class="row">
        <div class="col-md-7">
            <!-- test area -->
            <div [hidden]="!currentTest.Word">
                <div class="tests-test-word">{{currentTest.Word}}</div>
                <br />

                <div class="list-items">
                    <div *ngFor="let answer of currentTest.Answers;">
                        <div (click)="setAnswer(answer)"
                             (dblclick)="pickAnswer(answer)"
                             [class.choosen-list-item]="answer == choosenAnswer"
                             [class.background-color-green]="trueAnswer == answer"
                             class="list-item cursor-pointer">
                            {{answer}}
                        </div>
                    </div>
                </div>

                <br />

                <!-- disabled when set true answer (picked)-->
                <button [disabled]="trueAnswer" (click)="pickAnswer(choosenAnswer)" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button class="btn btn-info"><span class="glyphicon glyphicon-minus"></span></button>
                <button (click)="deleteWord(currentTest)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>

        <!-- result -->
        <div class="col-md-5">
            <div [hidden]="!resultMessage">
                <h3>{{resultMessage}}</h3>
                <button class="btn btn-warning" (click)="setNextTest()">Next</button>
            </div>
        </div>
    </div>

</div>