/**************************** TEW NEXT ********************************************/

/*** 
        COLORS 
    lists:
background-color: #e0e0e0
active item > background-color: #737272
active item > color: black
error > background-color: #3c763d

    menu:
acitve link > color: #5af35d

***/

/* OVERRIDE BOOTSTRAP */
@media (max-width: 767px) {
    body {
        padding: 0;
    }
}
