/**************************** TEW NEXT ********************************************/

/*** 
        COLORS 
    lists:
background-color: #e0e0e0
active item > background-color: #737272
active item > color: black
error > background-color: #3c763d

    menu:
acitve link > color: #5af35d

***/

/* OVERRIDE BOOTSTRAP */
@media (max-width: 767px) {
    body {
        padding: 0;
    }
}

.tew-body {
	margin-top: 60px;
}

.responsive-menu {
	margin-left: 5px;
	margin-right: 5px;
}

.responsive-menu-button {
	margin-right: 20px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-dropdown-menu-item {
	font-size: 18px;
	color: #d1cdcd;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  font-size: 20px;
}

.center-block {
    text-align: center;
}

.md-displayNone {
    display: block !important;
}

.md-displayBlock {
    display: none !important;
}

@media (max-width: 768px) {
    .md-displayNone {
        display: none !important;
    }

    .md-displayBlock {
        display: block !important;
    }
}

.progress-bar {
    border-radius: 5px;
    min-width: 1%;
}

.picker-test-message {
    font-size: 26px;
    margin-bottom: 30px;
}

.picker-test-block {
    margin-bottom: 30px;
}

.margin-20 {
    margin: 20px;
}

.loading-lock-overlay {
  margin: 0px; 
  padding: 0px; 
  position: fixed; 
  right: 0px; 
  top: 0px; 
  width: 100%; 
  height: 100%; 
  background-color: #bfbfbf; 
  z-index: 30001; 
  opacity: 0.7;
}

.loading-lock-message {
  position: absolute; 
  color: #191515; 
  top: 50%; 
  left: 45%;
  font-weight: bold;
  font-size: 28px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .loading-lock-message {
      font-size: 18px;
  }

  .loading-lock-message {
      left: 30%;
  }
}

.sortable-title {
  cursor: pointer;
  text-decoration: underline;
}
