<div>
    <div class="modal fade" id="modal-window">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </button>
                    <h4 class="modal-title">{{config.headerText}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{config.bodyText}}</p>
                </div>
                <div class="modal-footer">
                    <button *ngIf="config.isApplyButton" class="btn btn-success" type="button" data-dismiss="modal" (click)="applyWindow()">
                        {{config.applyButtonText}}
                    </button>
                    <button *ngIf="config.isCancelButton" class="btn btn-danger" type="button" data-dismiss="modal">
                        Cancel
                    </button> 
                </div>
            </div>
        </div>
    </div>
</div>