.edit-word {
    .edit-word-label {
        font-size: 16px;
    }

    .edit-word-form {
        margin-top: 15px;
    }

    .edit-word-buttons {
        text-align: right;
        padding-top: 15px;
    }
}