<div class="add-word">
    <form [formGroup]="addWordform" (ngSubmit)="submitForm(addWordform.value)">
        <div class="add-word-row">
            <!-- first column -->
            <div class="add-word-column">
                <div>
                    <div class="form-item">
                        <div class="field-label">English word:</div>
                        <div class="error-field">
                            <span *ngIf="addWordform.controls['english'].hasError('required') && addWordform.controls['english'].touched">
                                Enter english word
                            </span>
                            <span *ngIf="addWordform.controls['english'].hasError('maxlength') && addWordform.controls['english'].touched">
                                Max length should be less than 25 symbols
                            </span>
                        </div>

                        <div class="input-with-icon">
                                <input [formControl]="addWordform.controls['english']"
                                    type="text"
                                    class="form-input"
                                    (keyup.enter)="translate()"
                                    (focusout)="focusOut()"/>

                                <!-- type="button" uses for prevent of submit form -->
                                <button class="button button-gray button-icon"
                                    type="button"
                                    (click)="translate()">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                    </div>
                    <div class="form-item">
                        <div class="field-label">Your translate:</div>
                        <div class="error-field">
                            <span *ngIf="addWordform.controls['russian'].hasError('required') && addWordform.controls['russian'].touched">
                                Enter translate
                            </span>
                            <span *ngIf="addWordform.controls['russian'].hasError('maxlength') && addWordform.controls['russian'].touched">
                                Max length should be less than 25 symbols
                            </span>
                        </div>
                        <input [formControl]="addWordform.controls['russian']"
                            class="form-input"
                            type="text"
                            (change)="translateChange($event)"
                            (keyup.enter)="submitForm(addWordform.value)" />
                    </div>
                    <div class="form-item">
                        <div class="field-label">Example of use:</div>
                        <div class="error-field">
                            <span *ngIf="addWordform.controls['example'].hasError('maxlength') && addWordform.controls['example'].touched">
                                Max length should be less than 50 symbols
                            </span>
                        </div>
                        <textarea [formControl]="addWordform.controls['example']" class="form-input text-area"></textarea>
                    </div>
                </div>
            </div>

            <!-- second column -->

            <div class="add-word-column">
                <selectable-list
                    (itemClick)="chooseTranslate($event)"
                    header="Translates:"
                    showSecondary="true"
                    [items]="translates">
                </selectable-list>
            </div>
        </div>

        <div class="add-word-button">
            <input type="submit"
                class="button button-green"
                [disabled]="!addWordform.valid"
                value="Add word"/>
        </div>
    </form>
</div>
