<div class="row">
    <form [formGroup]="addWordform" (ngSubmit)="submitForm(addWordform.value)">
        <!-- first column -->
        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
            <div>
                <div>
                    <span class="field-label">English word:</span>
                    <br />
                    <div class="error-field">
                        <span *ngIf="addWordform.controls['english'].hasError('required') && addWordform.controls['english'].touched">
                            Enter english word
                        </span>
                        <span *ngIf="addWordform.controls['english'].hasError('maxlength') && addWordform.controls['english'].touched">
                            Max length should be less than 25 symbols
                        </span>
                    </div>
                    <div class="input-group">
                        <input [formControl]="addWordform.controls['english']" type="text" 
                            class="form-control" (keyup.enter)="translate()" (focusout)="focusOut()"/>
                        <span class="input-group-btn" style="width:0;">
                            <button class="btn btn-default"  type="button" (click)="translate()">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    <br/>
                </div>
                <div>
                    <span class="field-label">Your translate:</span>
                    <br />
                    <div class="error-field">
                        <span *ngIf="addWordform.controls['russian'].hasError('required') && addWordform.controls['russian'].touched">
                            Enter translate
                        </span>
                        <span *ngIf="addWordform.controls['russian'].hasError('maxlength') && addWordform.controls['russian'].touched">
                            Max length should be less than 25 symbols
                        </span>
                    </div>
                    <input [formControl]="addWordform.controls['russian']" class="form-control" type="text" (keyup.enter)="submitForm(addWordform.value)" />
                    <br />
                </div>
                <div>
                    <span class="field-label">Example of use:</span>
                    <br />
                    <div class="error-field">
                        <span *ngIf="addWordform.controls['example'].hasError('maxlength') && addWordform.controls['example'].touched">
                            Max length should be less than 50 symbols
                        </span>
                    </div>
                    <textarea [formControl]="addWordform.controls['example']" class="form-control"></textarea>
                    <br />
                </div>
                <input type="submit" class="btn btn-success md-displayNone"
                    [disabled]="!addWordform.valid"
                    value="Add word" />
            </div>
        </div>

        <!-- second column -->
        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
            <div [hidden]="translates.length < 1">
                <div class="center-block">
                    <span class="field-label">Translates:</span>
                    <div *ngFor="let translate of translates;" class="list-items">
                        <div class="list-item cursor-pointer"
                                [class.list-item-green]="translate.IsUserTranslate"
                                [class.active-list-item]="translate.Translate == addWordform.controls['russian'].value"
                                (click)="chooseTranslate(translate.Translate)">
                            {{translate.Translate}}
                            <span *ngIf="translate.IsUserTranslate" class="translate-word-level">
                                (level: {{translate.WordLevel}})
                            </span>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
            <input type="submit"
                class="btn btn-success md-displayBlock center-block add-word-button"
                [disabled]="!addWordform.valid"
                value="Add word"/>
        </div>
    </form>
</div>