<div>
    <modal-window *ngIf="isModalOpen" [windowConfig]="modalConfig"></modal-window>
    <toolbar [Logout]="logOut" [UserName]="userName">
    </toolbar>
    <div class="tew-body">
        <div [style.visibility]="showLoadingArr.length > 0 ? 'visible' : 'hidden'">
            <loading-animation></loading-animation>
        </div>

        <div *ngIf="isLoading">
            <loading-lock-display></loading-lock-display>
        </div>

        <router-outlet></router-outlet>
    </div>
</div>

