<div class="edit-word">
    <div>
        <span class="edit-word-label">English: </span>
        <span class="field-label">{{word.English}}</span>
    <div>
    <div>
        <span class="edit-word-label">Level: </span>
        <span class="field-label">{{word.Level}}</span>
    <div>
    <div>
        <span class="edit-word-label">Answers count: </span>
        <span class="field-label">{{word.AnswerCount}}</span>
    <div>
    <div>
        <span class="edit-word-label">Fails count: </span>
        <span class="field-label">{{word.FailAnswerCount}}</span>
    <div>

    <form class="edit-word-form" [formGroup]="editWordform" (ngSubmit)="save(editWordform.value)">
        <div>
            <span class="field-label">Russian:</span>
            <br />
            <div class="error-field">
                <span *ngIf="editWordform.controls['Russian'].hasError('required') && editWordform.controls['Russian'].touched">
                    Enter translate
                </span>
                <span *ngIf="editWordform.controls['Russian'].hasError('maxlength') && editWordform.controls['Russian'].touched">
                    Max length should be less than 25 symbols
                </span>
            </div>
            <input [formControl]="editWordform.controls['Russian']" type="text" class="form-input"/>
            <br/>
        </div>
        <div>
            <span class="field-label">Example of use:</span>
            <br />
            <div class="error-field">
                <span *ngIf="editWordform.controls['Example'].hasError('maxlength') && editWordform.controls['Example'].touched">
                    Max length should be less than 50 symbols
                </span>
            </div>
            <textarea [formControl]="editWordform.controls['Example']" class="form-input text-area"></textarea>
            <br />
        </div>
        <div class="edit-word-buttons">
            <input type="submit"
                [disabled]="!editWordform.valid"
                class="button button-green"
                value="Save"/>

            <button class="button button-red" (click)="cancel()">
                Cancel
            </button>
        </div>
    </form>
</div>
