<div class="tew-test">
    <div class="tew-test-body">
        <div>
            <button [disabled]="!currentTest.Word && !firstTestNOTloaded"
                (click)="prepareTest('EnRuTest')"
                class="button button-lightBlue tew-test-button">
                    Eng-Rus
            </button>
            <button [disabled]="!currentTest.Word && !firstTestNOTloaded"
                (click)="prepareTest('RuEnTest')"
                class="button button-lightBlue tew-test-button">
                    Rus-Eng
            </button>
        </div>

        <div class="tew-test-progress">
            {{progress}}
        </div>

        <!-- test area -->
        <div [hidden]="!currentTest.Word">
            <div>
                <div class="tew-test-word">{{currentTest.Word}}</div>
                <selectable-list
                    (itemClick)="setAnswer($event)"
                    (itemDbclick)="pickAnswer($event)"
                    bindon-items="selectableListItems">
                </selectable-list>
            </div>

            <div class="tew-test-center-row">
                <!-- disabled when set true answer (picked)-->
                <button (click)="pickAnswer(choosenAnswer)"
                    class="button button-green tew-test-control">
                        <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button [disabled]="trueAnswer || currentTest.Answers.length < 4"
                    class="button button-orange tew-test-control"
                    (click)="helpPick()">
                        <i class="fa fa-question" aria-hidden="true"></i>
                </button>
                <button  [disabled]="trueAnswer"
                    (click)="showIsDeleteModal(currentTest)"
                    class="button button-red tew-test-control">
                        <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>
