<div class="center-block">
    <!-- buttons -->
    <div>
        <button [disabled]="!currentTest.Word && !firstTestNOTloaded"
            (click)="prepareTest('EnRuTest')"
            class="btn btn-primary text-button">
                Eng-Rus
        </button>
        <button [disabled]="!currentTest.Word && !firstTestNOTloaded"
            (click)="prepareTest('RuEnTest')"
            class="btn btn-primary text-button">
                Rus-Eng
        </button>
    </div>

    <div class="row center-block margin-20">
        <progress-bar [progress]="progress"></progress-bar>
    </div>

    <div class="row">
        <div class="picker-test-block">
            <!-- test area -->
            <div [hidden]="!currentTest.Word">
                <div class="tests-test-word">{{currentTest.Word}}</div>
                <div *ngIf="testName != RuEnTest" class="tests-test-example">{{currentTest.Example}}</div>
                <br />

                <div>
                    <div *ngFor="let answer of currentTest.Answers;" class="list-items">
                        <div (click)="setAnswer(answer)"
                             (dblclick)="pickAnswer(answer)"
                             [class.active-list-item]="answer == choosenAnswer"
                             [class.list-item-error]="trueAnswer == answer"
                             class="list-item cursor-pointer">
                            {{answer}}
                        </div>
                    </div>
                </div>
                <br />

                <!-- disabled when set true answer (picked)-->
                <button [disabled]="trueAnswer"
                    (click)="pickAnswer(choosenAnswer)"
                    class="btn btn-lg btn-success icon-button">
                        <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button [disabled]="trueAnswer || currentTest.Answers.length < 4"
                    class="btn btn-lg btn-warning icon-button"
                    (click)="helpPick()">
                        <i class="fa fa-question" aria-hidden="true"></i>
                </button>
                <button  [disabled]="trueAnswer"
                    (click)="showIsDeleteModal(currentTest)"
                    class="btn btn-lg btn-danger icon-button">
                        <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

</div>