<div class="selectable-list">
    <div *ngIf="header && items.length" class="selectable-list-header">{{header}}</div>
    <div *ngFor="let item of items;" class="selectable-list-item-row">
        <div class="selectable-list-item"
                [class.green-list-item]="item.IsHighlighted"
                [class.active-list-item]="item.IsActive"
                (dblclick)="dbclick(item)"
                (click)="click(item)">
            <span class="selectable-list-item-value">
                {{item.Value}}
            </span>
            <span *ngIf="showSecondary" class="selectable-list-item-secondary">
                {{item.SecondaryValue}}
            </span>
        </div>
    </div>
    <br/>
</div>
