<div>
    TEST
    <div>
        <div>
            Word: {{currentTestModel.Word}}
        </div>
        <div *ngIf="isHelpUsed">
            Help word: {{helpWord}}
        </div>
        <div *ngIf="!isHelpUsed">
            <button (click)="useHelp()">HELP</button>
        </div>
        <hr/>
        <form [formGroup]="answerForm" (ngSubmit)="checkAnswer(answerForm.value)">
            <input [formControl]="answerForm.controls['answer']"
                type="text"
                class="form-control"
                (keyup.enter)="checkAnswer(answerForm.value)"/>

            <input type="submit" class="btn btn-success"
                    [disabled]="!answerForm.valid"
                    value="OK" />
        </form>
    </div>
</div>