<div class="tew-test">
    <div class="tew-test-body">
        <div class="tew-test-progress">
                {{progress}}
        </div>
        <div class="tew-test-word">
            {{currentTestModel.Word}}
        </div>
        <div class="tew-test-example">
            {{currentTestModel.Example}}
        </div>
        <div class="tew-test-help">
            <div *ngIf="isHelpUsed" class="tew-test-help-word">
                {{helpWord}}
            </div>
        </div>
        <form class="tew-test-form" [formGroup]="answerForm" (ngSubmit)="checkAnswer(answerForm.value)">
            <input [formControl]="answerForm.controls['answer']"
                type="text"
                class="form-input tew-test-input"
                (keyup.enter)="checkAnswer(answerForm.value)"/>
            <div>
                <button [disabled]="!answerForm.valid"
                    class="button button-green tew-test-control">
                        <i class="fa fa-check" aria-hidden="true"></i>
                </button>

                <button *ngIf="currentTestModel.Word"
                    [disabled]="isHelpUsed"
                    (click)="useHelp()"
                    class="button button-orange tew-test-control">
                        <i class="fa fa-question" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
</div>
