<div>
    <div class="row center-block write-test-progress">
        <progress-bar [progress]="progress"></progress-bar>
    </div>
    <div class="write-test-body">
        <div class="tests-test-word">
            {{currentTestModel.Word}}
        </div>
        <div class="tests-test-example">
            {{currentTestModel.Example}}
        </div>
        <div class="write-test-help">
            <div *ngIf="isHelpUsed" class="write-test-help-word">
                {{helpWord}}
            </div>
            <button *ngIf="!isHelpUsed" (click)="useHelp()" class="btn btn-warning text-button">HELP</button>
        </div>
        <form class="center-block" [formGroup]="answerForm" (ngSubmit)="checkAnswer(answerForm.value)">
            <input [formControl]="answerForm.controls['answer']"
                type="text"
                class="form-control write-test-input"
                (keyup.enter)="checkAnswer(answerForm.value)"/>

            <input type="submit" class="btn btn-success text-button"
                [disabled]="!answerForm.valid"
                value="OK" />
        </form>
    </div>
</div>
