
@{
    ViewBag.Title = "Tew";
    Layout = "~/Views/Shared/_TewLayout.cshtml";
}

<!-- INIT SCRIPTS -->
<script src="~/StaticContent/systemjs.config.js"></script>
<script>
    var main = '@Url.Content("~/StaticContent/app/js/main.js")';
    System.import(main).catch(function (err)
    {
        console.error(err);
    });
</script>
<!-- END OF INIT SCRIPTS -->

<div>
    <my-app></my-app>
</div>
