<div class="row learning-body">
    <div *ngIf="userName">

        <!-- desctop -->
        <div class="visible-desktop col-md-2"  (window:resize)="resized($event)">
            <div class="learning-main-background menu-header">
                <div class="menu-header-user-name">
                    <span class="glyphicon glyphicon-user"></span>
                    {{userName}}
                    <div>
                        <span><a class="log-out-link" href="/account/SignOff">Log out</a></span>
                    </div>
                </div>
                <div class="header-server-message">
                    {{applicationMessage}}
                </div>
                <div class="menu-tabs">
                    <div>
                        <a class="menu-tab" routerLink="/home" routerLinkActive="menu-tab-active">Home</a>
                    </div>
                    <div>
                        <a class="menu-tab" routerLink="/add-word" routerLinkActive="menu-tab-active">Add word</a>
                    </div>
                    <div>
                        <a class="menu-tab" routerLink="/my-words" routerLinkActive="menu-tab-active">My words</a>
                    </div>
                    <div>
                        <a class="menu-tab" routerLink="/picker-test" routerLinkActive="menu-tab-active">Picker test</a>
                    </div>
                </div>
            </div>
         </div>

        <!-- mobile -->
        <div class="visible-phone visible-tablet" >
            <a class="btn btn-orange mobile-home-button" routerLink="/home">
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
        </div>
    </div>
    
    <div [hidden]="!userName" [class.col-md-10]="desktopMode" [class.mobile-body]="!desktopMode">
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="!userName" class="row">
    <loading-animation></loading-animation>
</div>
