<div class="visible-desktop">
    <h1> Home </h1>
    <div *ngIf="userStatModel != null">
        <ul>
            <li>User email: {{userStatModel.Email}}</li>
            <li>User nickname: {{userStatModel.NickName}}</li>
            <li>User WordsLevel: {{userStatModel.WordsLevel}}</li>
            <li>User ActivityLevel: {{userStatModel.ActivityLevel}}</li>
            <li>User LastActivityDate: {{userStatModel.LastActivityDate}}</li>
        </ul>
    </div>
</div>

<!-- mobile -->
<div class="visible-phone visible-tablet center-block">
    <div>
        <span class="mobile-text mobile-username-block" [hidden]="!userName">
            <span>
                <span class="glyphicon glyphicon-user"></span>
                {{userName}}
            </span>
            <br />
            <span><a class="mobile-home-link" (click)="logOff()">Log out</a></span>
        </span>
    </div>
    <div class="mobile-links">
        <a class="mobile-home-link" routerLink="/add-word">Add word</a>
        <br/>

        <a class="mobile-home-link" routerLink="/my-words">My words</a>
        <br/>

        <a class="mobile-home-link" routerLink="/picker-test">Picker test</a>
        <br/>
    </div>
</div>

<div>
    <modal-window [windowConfig]="modalConfig" (windowApplied)="modalApplied($event)"></modal-window>
    <div>
        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-window">Open</button>
    </div>
</div>